#version=ECARHEL7
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use textinstall
text
install
# Run the Setup Agent on first boot
firstboot --disable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=gb --xlayouts='gb'
# System language
lang en_GB.UTF-8

# Network information
##network  --bootproto=static --device=eth0 --gateway=192.168.130.1 --ip=192.168.130.75 --nameserver=192.168.130.2 --netmask=255.255.255.0 --onboot=off --ipv6=auto --no-activate
##network  --hostname=lnlxts

# Root password
rootpw --iscrypted $6$5qQTzXF2RBs0hyOJ$6zMNI9wVZ0d4nmKXicq0lGHpazbT1sqzvx2cIK8j1OpMZN4F8J4naweKgtZVC0gWj7E9JJy/Hw8aBBTy.F9h11
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/London --isUtc
user --groups=wheel --name=admin --password=$6$CAhRtyOcA5co/WhY$MHOoaSWA8e7CqsgOQLs45UL.WYVMU9RQu0qxQaN8uISrUFKwp8/J9Gx4eNq14s/dMXnPiidlF2FGT794npLGn1 --iscrypted --gecos="Admin"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=sda

%packages
@^minimal
@core
chrony
kexec-tools
policycoreutils-python 
#bind-utils 
#nmap 
@x11 
gnome-classic-session 
@fonts 
gnome-terminal 
control-center 
##liberation-mono-fonts 
#firefox 
#vinagre 
#policycoreutils-gui 
#setroubleshoot 
gedit 
#evince 
#tcpdump 
#wireshark 
#iptraf-ng 
xorg-x11-fonts-Type1 



%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%include /tmp/network.txt

%pre
#!/bin/sh
exec < /dev/tty3 > /dev/tty3 2>&1
chvt 3
ns=""

while [ "$ns" == "" ]; do
 clear
 echo " *** Please enter the following details: *** "
 echo
 read -p "Hostname: " hn
 read -p "IP Address: " ip
 read -p "Netmask: " nm
 read -p "Gateway: " gw
 read -p "NameServer: " ns 
done
clear
chvt 1
echo "network --device=eth0 --bootproto=static --noipv6 --hostname=${hn} --ip=$[ip} --netmask=${nm} --nameserver=${ns} --onboot=yes " > /tmp/network.txt
%end

%post
# Install the yum repository configuration files
#cd /tmp
#wget http://emstools2b.cisco.com/pub/local/lab-repos.tar
#cd /
#tar -xvf /tmp/lab-repos.tar

# Set an ID to be used for other scripts
touch /LINUX_RHEL_MINIMAL_INSTALL

# Install Kshell as a preference of some developers.
#yum -y install ksh

# Configure some local NFS mount points
#service portmap start
#mount  emsnfs:/export/linux/post   /mnt
#cat /mnt/auto_localnfs >> /etc/auto.misc
#cat /mnt/auto_misc >> /etc/auto.misc

# Get the command to create the motd and create it for the first time.
#cp /mnt/createMOTDLinux /etc/init.d/create_motd
#mv /etc/motd /etc/motd.orig
#/etc/init.d/create_motd > /etc/motd

umount /mnt

# Create symlinks for mount points
# the links to /localnfs are to work around the issue with Linux
# mount points not being browsable as they are in Unix
#mkdir /localnfs
#ln -s /misc/apps       /localnfs/apps
#ln -s /misc/rtp-chaos  /localnfs/rtp-chaos
#ln -s /misc/black-hole /localnfs/black-hole
#ln -s /misc/tools      /localnfs/tools
#ln -s /misc/tftpboot   /localnfs/tftpboot
#mkdir /opt/scratch
#ln -s /opt/scratch /scratch

# Create ssh authorized keys
# Make the directory
mkdir /root/.ssh
chmod 644 /root/.ssh

# Create the keys file
cat  << xxEOFxx >> /root/.ssh/authorized_keys
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCy2IQGRG1HLfdfJOWB0yGu1HMNbI11bwdZ7H8/hdawIxT+RWJpILPe3Hy9586RsmBdxFBCftDMRDdBTUiAPkELnQGLxcJIA8siYgW8mRSGsOx40+zWmud9vKxne2AlS+mBwqJxv4xK0nuEXH+4cFMCILaazc94zFyztmFB6eDg4vfn7eN4gzbvl98DM6HLRraKjF2UGx1R0iu+GxWKefOyDzrbE9bSBmStX9ZGVT9tJZsJwNOX2kn1f67Kk5alAg+5g01UhyUJ/YrbRFRLMcD8nUFWYqm5XkFf9F7MH3EwkXrd7xqjdS3tSO4lKQE6pxHygDd7Nd1uZ5+9GEgsxwD9 root@lnlxspw01
xxEOFxx

chmod 644 /root/.ssh/authorized_keys

# Copy the logbanner and change sshd_config
cat  << xxEOFxx >> /etc/LogBanner
                               WARNING!!!
                   READ THIS BEFORE ATTEMPTING TO LOGON                      

     This System is for the use of authorized users only.  Individuals
     using this computer without authority, or in excess of their
     authority, are subject to having all of their activities on this
     system monitored and recorded by system personnel.  In the course
     of monitoring individuals improperly using this system, or in the
     course of system maintenance, the activities of authorized users
     may also be monitored.  Anyone using this system expressly
     consents to such monitoring and is advised that if such
     monitoring reveals possible criminal activity, system personnel
     may provide the evidence of such monitoring to law enforcement
     officials.                                                              

xxEOFxx

echo "Banner /etc/LogBanner" >> /etc/ssh/sshd_config

%end
